<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="ri-add-circle-fill ri-lg text-success"></i> Create Manual Leave
                    </h5>
                    <form novalidate #form="ngForm">
                        <div class="row">
                            <div class="form-group row mb-3">
                                <div class="col-sm-3">
                                    <dx-text-box label="User First Name" class="input-label" labelMode="outside" name="User First Name"
                                        #title="ngModel"
                                        [(ngModel)]="FormData.userFName" [readOnly]="gridHandleService.selectedTab === 'Details'"></dx-text-box>
                                </div>
                                <div class="col-sm-3">
                                    <dx-text-box label="User Last Name" class="input-label" labelMode="outside" name="User Last Name"
                                        #title="ngModel"
                                        [(ngModel)]="FormData.userFName" [readOnly]="gridHandleService.selectedTab === 'Details'"></dx-text-box>
                                </div>
                                <!-- <div class="col-sm-3">
                                    <dx-select-box [dataSource]="DD_Menu" displayExpr="menuName" valueExpr="id"
                                        class="input-label" label="Select Parent Menu" [searchEnabled]="true"
                                        labelMode="outside" name="parentId" #parentId="ngModel"
                                        [(ngModel)]="FormData.parentId"  [readOnly]="gridHandleService.selectedTab === 'Details'"></dx-select-box>
                                </div> -->

                                <div class="col-sm-3">
                                    <dx-text-box label="Email" class="input-label" labelMode="outside" name="Email"
                                        #url="ngModel"
                                        [(ngModel)]="FormData.email" ></dx-text-box>
                                </div>
                                <div class="col-sm-3">
                                    <dx-text-box label="Mobile No." labelMode="outside" class="input-label" name="Mobile No."
                                        #icon="ngModel"
                                        [(ngModel)]="FormData.mobile" [readOnly]="gridHandleService.selectedTab === 'Details'"></dx-text-box>
                                </div>

                               
                                <div class="col-sm-3">
                                    <dx-select-box [dataSource]="RoleList" displayExpr="name" valueExpr="id"
                                        class="input-label" label="Select Type" [searchEnabled]="true"
                                        labelMode="outside" name="specialistsId" #specialistsId="ngModel"
                                        [(ngModel)]="FormData.userRoleId"  [readOnly]="gridHandleService.selectedTab === 'Details'"></dx-select-box>
                                </div>

                               
                                <div class="input-group">
                                    <div *ngIf="!fileData" class="file-upload">
                                        <!-- Upload Button -->
                                        <button class="file-upload-btn" type="button" (click)="triggerFileInput()">Add Profile Picture</button>
                                      
                                        <!-- Drag and Drop Section -->
                                        <div
                                          class="image-upload-wrap"
                                          [class.image-dropping]="isDragging"
                                          (dragover)="onDragOver($event)"
                                          (dragleave)="onDragLeave($event)"
                                          (drop)="onDrop($event)"
                                        >
                                          <input
                                            class="file-upload-input"
                                            type="file"
                                            accept="image/*"
                                            (change)="onFileSelected($event)"
                                            #fileInput
                                          />
                                          <div class="drag-text">
                                            <h3>Drag and drop Picture</h3>
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <!-- Uploaded Image Section -->
                                      <div *ngIf="fileData" class="file-upload-content file-upload">
                                        <img class="file-upload-image" [src]="fileData" alt="Uploaded Image" />
                                        <div class="image-title-wrap">
                                          <button type="button" class="remove-image" (click)="removeFile()">
                                            Remove <span class="image-title">{{ fileName }}</span>
                                          </button>
                                        </div>
                                      </div>
                                      
                                      
                                      
                                      
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>