<section class="section profile ">
  <div class="row mt-5">
    <div class="col-xl-4">
      <div class="fieldset">
       
        <div class="profile-card pt-4 d-flex flex-column align-items-center ">
          <div class="input-group">
            <div *ngIf="!fileData" class="file-upload">

              <!-- Drag and Drop Section -->
              <div class="image-upload-wrap" [class.image-dropping]="isDragging" (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"   (click)="triggerFileInput()">
                <input class="file-upload-input" type="file" accept="image/*" (change)="onFileSelected($event)"
                  #fileInput />
                <div class="drag-text">
                  <h3>Drag and drop Picture</h3>
                </div>
              </div>
            </div>

            <!-- Uploaded Image Section -->
            <div *ngIf="fileData" class="file-upload-content file-upload">
              <img class="file-upload-image" style="border-radius: 50%; object-fit: cover;" [src]="fileData"
                alt="Uploaded Image" />
              <div class="image-title-wrap">
                <button type="button" class="remove-image" (click)="removeFile()">
                  Remove 
                </button>
              </div>
            </div>




          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-8">

      <div class="fieldset">
      
        <div class="form-group row mb-3">
          <input type="hidden">
          <div class="col-md-4">
            <dx-text-box label="First Name" class="input-label" labelMode="outside" name="userFName"
              #userFName="ngModel" [(ngModel)]="FormData.userFName"></dx-text-box>
          </div>

          <div class="col-md-4">
            <dx-text-box label="Last Name" labelMode="outside" class="input-label" name="userLName" #userLName="ngModel"
              [(ngModel)]="FormData.userLName"></dx-text-box>
          </div>

          <div class="col-md-4">
            <dx-text-box label="Email" labelMode="outside" class="input-label" name="email" #email="ngModel"
              [(ngModel)]="FormData.email" mode="email" [(validationErrors)]="emailValidators"></dx-text-box>
          </div>
          <div class="col-md-4">
            <dx-text-box label="Mobile Number" labelMode="outside" name="mobile" class="input-label" #mobile="ngModel"
              [(ngModel)]="FormData.mobile"></dx-text-box>
          </div>
        </div>
      </div>


    </div>

    <div class="mt-2 col-xl-4">
      <div class="fieldset">
        <span class="label-fieldset">Assign Role</span>

        <div class="row mb-3">
          <dx-tree-view [items]="RoleList" [parentIdExpr]="'parentId'" [displayExpr]="'name'" [width]="400"
            [searchEnabled]="true" [selectByClick]="true" [showCheckBoxesMode]="'normal'" [selectionMode]="'multiple'"
            [keyExpr]="'id'" (onSelectionChanged)="treeViewSelectionChanged($event)">
          </dx-tree-view>
        </div>
      </div>

    </div>
     <div class="mt-2 col-xl-4">
      <div class="fieldset">
        <span class="label-fieldset">Branch</span>

        <div class="row mb-3">
        <ng-multiselect-dropdown
                    [placeholder]="'Select One'"
                    [settings]="dropdownSettings"
                    [data]="branchList"
                    [(ngModel)]="selectedBranch"
                    (onSelect)="onItemSelect($event)"
                    (onDeSelect)="onItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"
                  >
                  </ng-multiselect-dropdown>
        </div>
      </div>

    </div>
  </div>
</section>