<div class="container-fluid bg-primary vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center bg-light p-5 rounded shadow-lg">
      <h4 class="display-1 font-weight-bold text-primary mb-4">Check Your Mail</h4>
      
      <div class="row justify-content-center">
        <p class="message">
            Your application has been approved, and you are now officially part of the Tech Stdio family as a Business Partner.
          </p>
          <button class="btn btn-primary mt-3"  onclick="window.open('https://mail.google.com/mail/u/0/#inbox')">Go to Email</button>
      </div>
    </div>
  </div>
  