<section class="section profile ">
  <div class="row mt-5">
    <div class="col-xl-4">
      <div class="fieldset">
      
        <div class="profile-card pt-4 d-flex flex-column align-items-center ">
          <div class="input-group">
            <div *ngIf="!fileData" class="file-upload">

              <!-- Drag and Drop Section -->
              <div class="image-upload-wrap" [class.image-dropping]="isDragging" (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" (click)="triggerFileInput()">
                <input class="file-upload-input" type="file" accept="image/*" (change)="onFileSelected($event)"
                  #fileInput />
                <div class="drag-text">
                  <h3>Drag and drop Picture</h3>
                </div>
              </div>
            </div>

            <!-- Uploaded Image Section -->
            <div *ngIf="fileData" class="file-upload-content file-upload">
              <img class="file-upload-image" style="border-radius: 50%; object-fit: cover;" [src]="fileData"
                alt="Uploaded Image" />
              <div class="image-title-wrap">
                <button type="button" class="remove-image" (click)="removeFile()">
                  Remove
                </button>
              </div>
            </div>




          </div>

          <!-- Toggle Switch Section -->
          <div class="toggle-section mt-3">
            <label name="Active" class="switch">
              <input type="checkbox" (change)="onChange()" [checked]="FormData.isActive">
              <span class="slider round"></span>
            </label>
          </div>

        </div>

      </div>
    </div>
    <div class="col-xl-8">

      <div class="fieldset">
        
        <div class="row mb-3">

          <div class="mb-3" *ngFor="let field of formdata" [class]="'col-lg-' + (field.column || 6)">
            <label [for]="field.name" class="col-sm-12 col-form-label">
              {{ field.label }}
            </label>
            <!-- Text, Email, Date, Time, Number, File Inputs -->
            <input *ngIf="['text', 'email', 'date', 'time', 'number', 'file'].includes(field.type)" [type]="field.type"
              [id]="field.name" class="form-control" [class]="field.class? field.class : null" [name]="field.name"
              [(ngModel)]="FormData[field.name]" [required]="field.required" [min]="field.min || null"
              [max]="field.max || null" [accept]="field.type === 'file' ? field.accept || '*' : null"
              [class.invalid]="field.name.invalid && field.name.touched"
              [readOnly]="gridHandleService.selectedTab === 'Details'"
              [placeholder]="field.placeHolder? field.placeHolder : field.name === 'password' ? 'Enter password' : field.label"
              (keyup)="field.eventEmit?.keyup ? handleEvent(field.eventEmit.keyup, $event) : null"
              (click)="field.eventEmit?.click ? handleEvent(field.eventEmit.click, $event) : null"
              (change)="field.eventEmit?.change ? handleEvent(field.eventEmit.change, $event) : null" />


            <!-- Select Dropdown -->
            <select *ngIf="field.type === 'select' && field.options?.length > 0" [id]="field.name" class="form-control"
              [name]="field.name" [(ngModel)]="FormData[field.name]" [required]="field.required">
              <!-- <option [value]="null">{{ field.optionLabel || 'Select' }}</option> -->
              <option *ngFor="let option of field.options" [value]="option.id">
                {{option.name }}
              </option>
            </select>

            <!-- Radio Buttons -->
            <div *ngIf="field.type === 'radio'" class="form-check">
              <div *ngFor="let option of field.options" class="form-check-inline">
                <input [type]="field.type" [id]="field.name + '_' + option" class="form-check-input" [name]="field.name"
                  [value]="option" [(ngModel)]="FormData[field.name]" [required]="field.required" />
                <label [for]="field.name + '_' + option" class="form-check-label">
                  {{ option }}
                </label>
              </div>
            </div>

            <!-- Checkbox -->
            <div *ngIf="field.type === 'checkbox'" class="form-check">
              <input [type]="field.type" [id]="field.name" class="form-check-input" [name]="field.name"
                [(ngModel)]="FormData[field.name]" />
              <label [for]="field.name" class="form-check-label">
                {{ field.label }}
              </label>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>
</section>