<div class="auth-wrapper" *ngIf="!isCheckingAuth">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <form novalidate #RegistrationForm="ngForm" (ngSubmit)="OnSubmit()">
              <img src="assets/images/logoFull.png" alt="logo" class="img-fluid mb-4" />
              <h4 class="mb-3 f-w-400">SignIn</h4>
              <div class="input-group mb-3">
                <span class="input-icon" class="input-group-text" id="basic-addon1"><i
                    class="feather icon-mail"></i></span>
                <input type="text" class="form-control" placeholder="User Name" aria-label="Username"
                  aria-describedby="basic-addon1" name="userName" #userName="ngModel"
                  [(ngModel)]="loginFormData.userName" />
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text" id="basic-addon3"><i class="feather icon-lock"></i></span>
                <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Password"
                  aria-label="Username" aria-describedby="basic-addon3" name="password" #password="ngModel"
                  [(ngModel)]="loginFormData.password" />


                <button class="input-group-text" (click)="togglePasswordVisibility()" type="button">
                  <i class="feather" [ngClass]="showPassword ? 'icon-eye-off' : 'icon-eye'"></i>
                </button>
              </div>

              <div class="form-group text-start mt-2">
                <div class="checkbox checkbox-primary d-inline">
                  <input type="checkbox" name="rememberMe" id="checkbox-fill-a1" #rememberMe="ngModel"
                    [(ngModel)]="loginFormData.rememberMe" />
                  <label for="checkbox-fill-a1" class="cr">Save credentials 30 Days</label>
                </div>
              </div>

              <button type="button" class="btn btn-slide w-100" (click)="NextFromLogin()">Click</button>

              <!-- Error Message -->
              <div *ngIf="isShowLoginError" class="alert alert-danger mt-2 alert-dismissible fade show" role="alert">
                {{ loginError }}
              </div>
              <p class="mb-2 text-muted">
                Forgot password?
                <a href="javascriprt:" class="f-w-400" (click)="ResetBtn()">Reset</a>
              </p>
              <p class="mb-0 text-muted">
                Don’t have an account?
                <a [routerLink]="['/auth/register-landing']" class="f-w-400">Signup</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dx-popup [(visible)]="isPopupVisible" [showTitle]="true" [title]="'Select Business and Branch'" [dragEnabled]="true"
  [width]="popupWidth" [height]="'auto'" [closeOnOutsideClick]="false" [showCloseButton]="true">

  <!-- Business Select -->
  <div class="input-wrapper">
    <dx-select-box [dataSource]="DD_BusinessMasterId" displayExpr="name" valueExpr="id" class="flex-select-box"
      [searchEnabled]="true" labelMode="outside" name="businessMasterId" #businessMasterId="ngModel"
      [(ngModel)]="loginFormData.businessMasterId" (onValueChanged)="checkAuthentication()"
      placeholder="Select Business">
    </dx-select-box>
  </div>

  <!-- Branch Select -->
  <div class="input-wrapper my-3">
    <dx-select-box [dataSource]="branchList" displayExpr="branchName" valueExpr="id" class="flex-select-box"
      [searchEnabled]="true" labelMode="outside" name="branchId" #branchId="ngModel"
      [(ngModel)]="loginFormData.branchId" placeholder="Select Branch">
    </dx-select-box>
  </div>

  <!-- Submit Button -->
  <div class="d-grid">
    <button type="submit" class="btn btn-block btn-primary mb-4" (click)="OnFinalSubmit()">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="!isLoading">Sign In</span>
    </button>


  </div>
</dx-popup>






<dx-popup [(visible)]="isPopupVisibleResetPass" [showTitle]="true" [title]="'Select Business and Branch'"
  [dragEnabled]="true" [width]="popupWidth" [height]="'auto'" [closeOnOutsideClick]="false" [showCloseButton]="true">

  <div *dxTemplate="let data of 'content'">
    <div *ngIf="!showOTPInputBox">
      <!-- Initial form fields -->
      <dx-text-box label="User Name" class="input-label" labelMode="outside"></dx-text-box>


      <div class="text-end mt-3">
        <button class="btn btn-outline-primary" (click)="SendOtpbtn()">
          Send OTP <i class="fa fa-paper-plane ms-2"></i>
        </button>
      </div>
      <!-- <div class="text-end mt-3">
        <button class="btn btn-outline-primary" (click)="submitBtn()">
          Save <i class="fa fa-paper-plane ms-2"></i>
        </button>
      </div> -->
    </div>

    <div *ngIf="showOTPInputBox">
      <!-- OTP input -->
      <div class="otp-container">
        <div class="otp-container">
  <div class="otp-container" id="otpContainer">


  <dx-number-box
    *ngFor="let box of otp; let i = index"
    #otpInput
    class="otp-box"
    [max]="9"
    [min]="1"
    [value]="otp[i]"
    [showSpinButtons]="false"
    (onInput)="onOtpInput($event, i)"
  ></dx-number-box>



</div>

</div>

      </div>
      <div class="d-flex align-items-center justify-content-between mt-3 mb-2">
        <button class="btn btn-link p-0" [disabled]="timerCount > 0" (click)="resendOTP()">
          Resend OTP
        </button>
        <span *ngIf="timerCount > 0" class="text-muted small">
          Wait <strong>{{ timerCount }}</strong> sec
        </span>
      </div>

      <div class="text-end">
        <button class="btn btn-outline-success" (click)="submitOTPBtn()">
          Submit <i class="fa fa-check ms-2"></i>
        </button>
        <button class="btn btn-outline-danger" (click)="backBtn()">
          Back <i class="fa fa-backward" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Title Template -->
  <div *dxTemplate="let data of 'title'">
    <div class="d-flex justify-content-between align-items-center w-100 pe-2">
      <span class="fw-bold">Customer Verification</span>
      <button type="button" class="btn-close" aria-label="Close" (click)="isPopupVisibleResetPass = false"></button>
    </div>
  </div>
</dx-popup>