.dropdown-item {
    white-space: normal;  /* Ensure line breaks */
    padding: 10px 15px;
  }
  
  .dropdown-item span {
    margin-right: 5px;
  }

  .dropdown-item:hover {
    cursor: pointer;
  }