<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="ri-add-circle-fill ri-lg text-success"></i> Create Manual Leave
                    </h5>
                    <form novalidate #form="ngForm">
                        <div class="row">
                            <div class="form-group row mb-3">
                                <div class="col-sm-3">
                                    <dx-text-box label="Menu" class="input-label" labelMode="outside" name="name"
                                        #name="ngModel"
                                        [(ngModel)]="menuListComponent.FormData.name"></dx-text-box>
                                </div>
                                <div class="col-sm-3">
                                    <dx-select-box [dataSource]="DD_Menu" displayExpr="name" valueExpr="id"
                                        class="input-label" label="Select Specialise at" [searchEnabled]="true"
                                        labelMode="outside" name="specialistsId" #specialistsId="ngModel"
                                        [(ngModel)]="menuListComponent.FormData.parentId"></dx-select-box>
                                </div>

                                <div class="col-sm-3">
                                    <dx-text-box label="URL" class="input-label" labelMode="outside" name="menuUrl"
                                        #menuUrl="ngModel"
                                        [(ngModel)]="menuListComponent.FormData.menuUrl"></dx-text-box>
                                </div>
                                <div class="col-sm-3">
                                    <dx-text-box label="Icon" labelMode="outside" class="input-label" name="menuIcon"
                                        #menuIcon="ngModel"
                                        [(ngModel)]="menuListComponent.FormData.menuIcon"></dx-text-box>
                                </div>

                                <div class="col-sm-3">
                                    <dx-text-box label="Breadcrumbs" class="input-label" labelMode="outside" name="breadcrumbs"
                                        #breadcrumbs="ngModel"
                                        [(ngModel)]="menuListComponent.FormData.breadcrumbs"></dx-text-box>
                                </div>
                                <div class="col-sm-3">
                                    <dx-check-box text="Open On Other Tab?" class="custom-checkbox" name="target"
                                        #target="ngModel"
                                        [(ngModel)]="menuListComponent.FormData.target"></dx-check-box>
                                </div>

                                <div class="col-sm-3">
                                    <dx-text-box label="Classes" labelMode="outside" class="input-label" name="classes"
                                        #classes="ngModel"
                                        [(ngModel)]="menuListComponent.FormData.classes"></dx-text-box>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>