<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="ri-add-circle-fill ri-lg text-success"></i> Create Manual Leave
                    </h5>
                    <form novalidate #form="ngForm" (submit)="onSubmit(form)">
                        <div class="row">
                            <div class="form-group row mb-3">
                                <div class="col-sm-3">
                                    <dx-text-box label="Menu" class="input-label" labelMode="outside" ></dx-text-box>
                                </div>
                                <div class="col-sm-3">
                                    <dx-text-box label="Select Type" labelMode="outside" class="input-label"></dx-text-box>
                                </div>
                                
                                <div class="col-sm-3">
                                    <dx-text-box label="URL" class="input-label" labelMode="outside" ></dx-text-box>
                                </div>
                                <div class="col-sm-3">
                                    <dx-text-box label="Icon" labelMode="outside" class="input-label"></dx-text-box>
                                </div>
                                
                                <div class="col-sm-3">
                                    <dx-text-box label="Target" class="input-label" labelMode="outside" ></dx-text-box>
                                </div>
                                <div class="col-sm-3">
                                    <dx-text-box label="Breadcrumbs" labelMode="outside" class="input-label"></dx-text-box>
                                </div>
                                
                                <div class="col-sm-3">
                                    <dx-text-box label="Classes" labelMode="outside" class="input-label"></dx-text-box>
                                </div>                                
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            
                            <div class="col-md-4  mb-3">
                                <div class="float-end">
                                    <input type="submit" class="btn btn-primary btn-sm" [value]="submitButtonValue"
                                        [disabled]="form.invalid" />
                                    <button (click)="ShowHideEvent()" class="btn btn-warning btn-sm"><i
                                            class="ri-arrow-go-back-fill"></i> Back</button>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>